

<div>
  <div class="text-center">
    <h1>Cars</h1>
  </div>

  <div class="inputfield text-center my-3">
    <input type="text" placeholder="Search..." [formControl]="searchbar" />
  </div>

  <div class="text-center">
    <div class="main-box">
      <div *ngIf=" cars$ | async as cars; else loadingSpinner">
        <app-cars-page (carDeleting)="onDeleteCar($event)" [cars]="cars??[]"></app-cars-page>
      </div>
      <ng-template #loadingSpinner> <app-loading-spinner></app-loading-spinner></ng-template>
    </div>
  </div>
</div> 
